.Field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Label {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-neutral-darker);
}

.Input {
  width: 100%;
  height: 44px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darker);
  background-color: var(--color-coral-lighter);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.Input::placeholder {
  color: var(--color-neutral);
}

.Input:focus {
  border-color: var(--color-coral-dark);
}

.InputError,
.InputError:focus {
  border-color: var(--color-red);
}

.ErrorText {
  font-size: 14px;
  line-height: 150%;
  color: var(--color-red);
}

@media (min-width: 768px) {
  .Label,
  .Input {
    font-size: 18px;
  }
}
