.intro {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  width: 100%;
  min-height: 708px;
  display: flex;
  align-items: center;
}
.bgImage {
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.45) 100%
  );
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 32px;
  text-align: left;
}

.searchForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 7px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background: #ffe5d9;
  outline: transparent;
  color: #1b391b;
  font-size: 16px;
  line-height: 150%;
  transition: border 0.3s ease;

  &:active,
  &:focus-visible {
    border: 1px solid #254c24;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
}

.searchButton {
  padding: 6.5px 12px;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .title {
    font-size: 48px;
  }
  .searchForm {
    flex-direction: row;
  }
  .searchInput {
    width: 331px;
  }
  .searchButton {
    width: 0;
    white-space: nowrap;
    min-width: 165px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
  .title {
    font-size: 56px;
  }
  .subtitle {
    font-size: 20px;
  }
  .searchInput {
    font-size: 18px;
  }
  .searchButton {
    padding: 3.5px 12px;
    font-size: 20px;
    line-height: 150%;
  }
}
