.rating {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.rateValue {
  color: var(--color-green-dark);
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
}

.rateValue::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--color-green-dark);
  border-radius: 50%;
  margin-left: 9px;
  margin-right: 9px;
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-green-dark);
  margin-bottom: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-green-dark);
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .rateValue {
    font-size: 18px;
  }

  .title {
    font-size: 56px;
  }

  .label {
    font-size: 18px;
  }

  .value {
    font-size: 18px;
  }
}
