@media only screen and (min-width: 320px) and (max-width: 375px) {
  .title {
    max-width: 100%;
    margin: 0 auto 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
  }

  .locationCard {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    max-width: 100%;
    margin: 0 auto 40px;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
  }

  .locationCard {
    width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .locationCard {
    width: 421px;
  }
}
