@media only screen and (min-width: 320px) {
  .title {
    max-width: 100%;
    margin: 0 auto 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
  }

  .locationCard {
    width: 100%;
  }

  .statusMessage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 200px;
    margin: 0;

    text-align: center;
  }

  .contentArea {
    min-height: 600px;
  }
  .loaderWrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .locationCard {
    width: 340px;
  }

  .statusMessage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 200px;
    margin: 0;

    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .locationCard {
    width: 421px;
  }
}
